@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap");

.App {
  font-family: "DM Sans", sans-serif;
  background-color: #f8e9dd;
  padding: 0 1rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
